@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f9de2c;
    --primary-highlight: #fbea36;

    --secondary: #e8a248;
    --secondary-highlight: #fab826;

    --shadow: rgba(29, 29, 29, 0.5);

    --light: #f0f0f0;
    --dark: #1e1e1e;

    --disabled: #1e1e1e80;

    font-size: 16px;

    /* z-indices */
    --z-title-illus: -90;
    --z-nav: 100;
    --z-cursor: 200;

    --z-button: 10;
    --z-button-inner: -10;
}

* {
    cursor: url("/cursorInnerDefault.svg") 4 4, default;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;

    @media(min-width: 768px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
}

.custom-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(30, 30, 30, 0.15);
}

br {
    height: 1rem;
}

@keyframes outline {
    to {
        opacity: 0;
    }
}


@keyframes fade {
    to {
        opacity: 1;
    }
}

@keyframes color {

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke: 1;
    }
}

.animate-on-load {
    opacity: 0;
    animation: fade .5s linear forwards;

    & > .outline {
        & > circle, & > rect, & > path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke: black;
            stroke-width: 1;
            animation: color 5s linear forwards;
        }
        animation: outline 5s linear forwards;
    }

    & > .shadows > * {
        opacity: 0;
        animation: fade 5s linear forwards;
    }
}